# Maven
target/

# Gradle
build/

# IntelliJ IDEA
.idea/
*.iml

# VSCode
.vscode/

# Eclipse
.project
.classpath

# NetBeans
nbproject/private/

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env

# JRebel
.jrebel/

# Spring Boot DevTools
spring-boot-devtools.properties
